{% extends "base_generic.html" %} {% block content %}
<h1>Django pod info</h1>
<p><em>Welcome to the pod info website</em>!</p>
<p>An experimental Django application whose purpose is running a containerized stateful application in the Kubernetes
environment.</p>
<h2>{{ hostname }}</h2>
<p>
  IPv4-address: {{ ip_address }}
</p>
 <p>
  MAC-address: {{ mac_address }}
<p>
  Hostname: {{ hostname }}
</p>
<p>
  Django generated worker id: {{ worker_id }}
</p>
<div id="requests">
  <h3>The summary of requests</h3>
  <p>The count of all saved requests: {{ count_of_all_requests }}</p>
  <p>Count of the worker requests: {{ count_of_worker_requests }}</p>
  <p>Percentage of the worker processed load: {{ percentage_worker }}</p>
  <p>Count of the pod requests: {{ count_of_pod_requests }}</p>
  <p>Percentage of the pod processed load: {{ percentage_pod }}</p>
</div>
{% endblock %}