{% extends "base_generic.html" %} {% block content %}
<h1>Django pod info</h1>
<p><em>Welcome to the pod info website</em>!</p>
<p>An experimental Django application whose purpose is running a containerized stateful application in the Kubernetes
environment.</p>
<h2>{{ hostname }}</h2>
<p>
  IPv4-address: {{ ip_address }}
</p>
 <p>
  MAC-address: {{ mac_address }}
<p>
  Hostname: {{ hostname }}
</p>
<p>
  Django generated worker id: {{ worker_id }}
</p>
<div id="requests">
  <h3>Worker's requests</h3>
  <table id="requests">
    <tr>
      <th>timestamp</th>
      <th>user-agent</th>
    </tr>
    {% for row in requests %}
    <tr>
      <td>{{ row.timestamp }}</td>
      <td>{{ row.user_agent }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}